<h1> Booooob </h1>

<% if @articles.any? %>
	<% @articles.each do |article| %>
		<ul>
			<li>
				<%= article.title %> <br>
				<%= article.content %><br> 
				<%= image_tag article.picture.url(:medium), class: 'uploaded-pic' %>
				<% article.tags.each do |tag|%>
					<%= link_to tag.text, tag %>
				<% end %>
			</li>
		</ul>
	<% end %>
<% else %>
	nothing yet
<% end %>

<%= render "articles/article_form" %>
